.git
.gitignore
.gitattributes
.github
.idea
.vscode
.fleet
.editorconfig
.env
.env.*
!.env.example

node_modules
vendor

storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs
storage/*.key

public/build
public/hot
public/storage

tests
phpunit.xml
.phpunit.result.cache
.phpunit.cache

README.md
docker-compose.yml
nixpacks.toml

.eslintrc-auto-import.json
.eslintrc.cjs
.prettierignore
.stylelintrc.json
.npmrc
.nvmrc

components.d.ts
auto-imports.d.ts
typed-router.d.ts
